@attribute [Authorize(Roles = "Admin")]
@page "/funerariaCategories/details/{FunerariaCategoryId:int}"
@using System.Net;
@using CurrieTechnologies.Razor.SweetAlert2;
@using Funeraria_LaCruz.Shared.Entities;
@using Microsoft.AspNetCore.Authorization;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (funerariaCategory is null)
{
    <div class="spinner" />
}
else
{
    <h3>@funerariaCategory.Name</h3>

    <GenericList MyList="products!">
        <Body>

            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-globe"></i> Productos
                        <a class="btn btn-sm btn-primary float-end" href="/funerariaCategory/create/@funerariaCategory.CategoryId"><i class="oi oi-plus"></i> Adicionar Producto</a>
                    </span>
                </div>
            </div>

            <div class="card-body">
                <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                    <div>
                        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar producto..." @bind-value="Filter" />
                    </div>
                    <div class="mx-1">
                        <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Filtrar</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
                    </div>
                </div>
            </div>

            <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPage" />



            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th style="width:180px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products!)
                    {
                        <tr>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Descripcion
                            </td>
                            <td>
                                @product.Color
                            </td>
                            <td>
                                @product.Material
                            </td>
                            <td>
                                @product.Stock
                            </td>
                            <td>
                                @product.Precio
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/products/edit/@product.Id">Editar</a>
                                <button class="btn btn-danger" @onclick=@(() => DeleteAsync(product.Id))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}

@code {
    private FunerariaCategory? funerariaCategory;
    private List<Product>? products;
    private int currentPage = 1;
    private int totalPages;


    [Parameter]
    public int FunerariaCategoryId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";



    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }



    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/products?id={FunerariaCategoryId}&page={page}";
            url2 = $"api/products/totalPages?id={FunerariaCategoryId}";
        }
        else
        {
            url1 = $"api/products?id={FunerariaCategoryId}&page={page}&filter={Filter}";
            url2 = $"api/products/totalPages?id={FunerariaCategoryId}&filter={Filter}";
        }


        var responseHppt = await repository.Get<FunerariaCategory>($"api/funerariaCategory/{FunerariaCategoryId}");
        var responseHppt2 = await repository.Get<List<Product>>(url1);
        var responseHppt3 = await repository.Get<int>(url2);

        funerariaCategory = responseHppt.Response;
        products = responseHppt2.Response;
        totalPages = responseHppt3.Response;

    }

    private async Task DeleteAsync(int productId)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/products/{productId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPage(page);
    }

}

